@import '../mixins';

@import '_animations.scss';

.hero {
    
    background-image:  linear-gradient(90deg, rgba(1,30,79, .8) 30%, rgba(255,255,255,0.2) 100%),
    url(../../public/img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    width: 100%;
    min-height: 100vh;

}



.gear {
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(351deg) brightness(107%) contrast(108%);

    &Top {
        position: absolute;
        width: 30rem;
        top: -10rem;
        left: -10rem;
        animation: spin 10s infinite;
    }
    
    &Bottom {
        align-self: flex-end;
        position: absolute;
        width: 20rem;
        bottom: -10rem;
        animation: spin 5s infinite reverse;
    }
}
